.form-data {
  /*max-width: 500px;*/
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  margin-top: 100px;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.submit-button {
  width: 100%
}

.clear-button {
  height: 20px;
}

.form-header {
  text-align: center;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
}
